html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    background: #eee;
    display: flex;
    flex-direction: column;
}

header {
    background: #555;

}

nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2em;
}

nav a {
    color: #bbb;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background: #555;
    color: #eee;
    text-align: center;
    margin-top: auto;
}

.aktivni {
    color: aquamarine !important;
}

section {
    margin: 2em 7%;
    border-bottom: grey solid 5px;
}

h1 {
    border-right: #E1000D solid 5px;
    padding: 0.7em;
}

h2 {
    font-size: x-large;
    padding: 0.5em 0 0.5em 1em;
}

/*Wavy line*/
h2.wavy {
    position: relative;
    padding-left: 30px;
}

h2.wavy::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background:
        repeating-linear-gradient(180deg,
            var(--wave) 0px,
            var(--wave) 6px,
            transparent 6px,
            transparent 12px);

    animation: wave 1.2s linear infinite;
}

@keyframes wave {
    from {
        background-position-y: 0;
    }

    to {
        background-position-y: 12px;
    }
}




.foto {
    display: flex;
    flex-basis: 40%;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}

.foto img {
    width: 100%;
}

.rozdeleni {
    width: 5px;
    height: 6.3em;
    background: deeppink;
}

.island {
    display: flex;
    align-items: center;
    gap: 3em;
    margin: 2em 0;
}

.island p {
    width: 60%;
}

.island a {
    text-decoration: none;
    color: #E81774;
    font-weight: bold;
}

h3 {
    margin-bottom: -1em;
    margin-left: 1em;
    text-decoration: underline;
}

.dalsi-foto {
    display: flex;
}

.dalsi-foto a {
    color: #B042BD;
    background-color: #f8b4ff;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    text-align: center;

}

.dalsi-foto a h4 {
    margin: 0;
}

.odkaz {
    width: 3em;
    background-color: #B042BD;
}

.foto-dalsi {
    display: flex;
    gap: 1em;
}

.foto-dalsi a {
    width: 23%;
}

.foto-dalsi img {
    width: 100%;
    height: 90%;
    cursor: zoom-in;
    transition: transform 0.2s, box-shadow 0.2s;
}

.foto-dalsi img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.fotogalerie {
    border-bottom: double #555 4px;
    padding-bottom: 2em;
}

.fotogalerie h3 {
    margin: 0.7em;
    margin-top: 1.5em;
}

#uvodNadpis {
    text-align: center;
    border-bottom: 5px dashed #555;
}

.uvodni {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}

.uvodni img,
.uvodni p {
    flex: 1;
}

.uvodni img {
    max-width: 70%;
    height: auto;
}

.uvodni p {
    margin: 0;
    padding-left: 10px;
    font-size: 1.2em;
}

@media (max-width: 970px) {
    .uvodni {
        justify-content: center;
        gap: 1em;
    }

    .uvodni p {
        max-width: 500px; 
        font-size: 1.1em; 
        padding-left: 10px;
    }

    .uvodni img {
        max-width: 45%; 
    }
}

@media (max-width:768px) {
    nav ul {
        gap: 0.7em;
        flex-wrap: wrap;
    }

    .uvodni {
        flex-direction: column;
        text-align: center;
    }

    .uvodni img {
        max-width: 100%;
        margin-bottom: 1em;
    }

    .uvodni p {
        padding-left: 0;
        font-size: 1em;
    }

    .foto img {
        width: 100%;
    }

    .dalsi-foto {
        flex-direction: column;
        gap: 1em;
    }

    .foto-dalsi {
        flex-wrap: wrap;
    }

    .foto-dalsi a {
        width: 48%;
    }
}

@media (max-width: 650px) {
    h1 {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 1.5em;
        border-right: none;
        border-bottom: #E1000D solid 5px;
    }

    nav ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        padding-bottom: 0.7em;
        gap: 0.7em;
    }

    .aktivni {
        background: #444;
        border-left: aquamarine solid 4px;
    }

    section {
        margin: 1em 5%;
    }

    .uvodni p {
        font-size: 0.95em;
        line-height: 1.4em;
    }

    .island {
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        gap: 1em;
    }

    .rozdeleni {
        width: 100%;
        height: 5px;
    }

    .island p {
        width: 100%;
    }

    h3 {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 1.5em;
        border-right: none;
        border-bottom: #E1000D solid 5px;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        padding-bottom: 10px;
    }

    section {
        margin: 1em 4%;
    }


    .uvodni img {
        max-width: 100%;
        height: auto;
    }

    .uvodni p {
        font-size: 0.9em;
        padding: 0 5px;
        /* trochu odsazení po stranách */
    }

    #uvodNadpis {
        font-size: 1.4em;
        /* menší nadpis pro mobil */
    }

    .island {
        width: 100%;
        margin: 1em 0;
    }

    .foto-dalsi a {
        width: 100%;
    }

    footer {
        font-size: 0.9em;
        padding: 0.5em;
    }
}